#chinkali {
    height: 175px;
}

#charcho {
    height: 175px;
}

#samsa {
    height: 175px;
}

#chahohbili {
    height: 175px;
}

#churchhela {
    height: 175px;
}

#menu {
    margin-left: 25px;
    margin-top: 65px;
}

#menu_title {
    border: none;
    background-color: rgb(163, 154, 154);
    color: rgb(163, 154, 154);
    height: 2px;
}

#bg-site {
    background-color: beige;
}

#chachapuri {
    height: 175px;
}

#Home {
    height: 30px;
    width: 30px;
}

#logo {
    font-size: 22px;
}

#login_button {
    color: black;
    background-color: beige;
}

#registration_button {
    color: black;
    background-color: beige;
    margin-right: 5px;
}

#login_button:hover {
    color: black;
    background-color: beige;
    border-radius: 5px;
    border-color: darkgoldenrod;
}

#registration_button:hover {
    color: black;
    background-color: beige;
    border-radius: 5px;
    border-color: darkgoldenrod;
}

.navbar {
    border-radius: 10px;
}

.nav-link {
    font-size: 18px;
}

#menu_img {
    width: 30px;
    height: 30px;
}

#tel {
    margin-right: 20px;
}
